<%= form_with(model: character, url: settings_character_path, method: :delete, data: { controller: "confirmation-form" }) do |form| %>
  <div>
    <%=
      form.button(
        "Destroy this Character",
        type: "button",
        command: "show-modal",
        commandfor: 'deletion-confirmation-modal',
        data: {
          action: "confirmation-form#openConfirm"
        },
        )
    %>

    <dialog id="deletion-confirmation-modal" data-confirmation-form-target="dialog">
      <p>
        Please enter your password to confirm your character deletion
      </p>
      <div>
        <%= form.password_field :confirmation_password, data: { confirmation_form_target: "password" }, value: nil %>
      </div>
      <div>
        <%= form.button t("cancel"), type: "button", command: "close", commandfor: 'deletion-confirmation-modal' %>
        <%= form.submit "Delete" %>
      </div>
    </dialog>
  </div>
<% end %>