<%= form_with(model: character, url: replace_password_settings_character_path, data: { controller: "confirmation-form" }) do |form| %>
  <%= form.fields_for :password_padlock do |padlock_form| %>
    <div style="display: flex; flex-direction: column; gap: 5px;">
      <%= padlock_form.label :key %>
      <%= padlock_form.password_field :key, value: nil %>
      <% if character.password_padlock.errors.where(:key).any? %>
        <div style="color: red; display: flex; flex-direction: column; gap: 5px;">
          <% character.password_padlock.errors.where(:key).each do |error| %>
            <span><%= error.message %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <%= padlock_form.label :key_confirmation %>
      <%= padlock_form.password_field :key_confirmation, value: nil %>
      <% if character.password_padlock.errors.where(:key_confirmation).any? %>
        <div style="color: red; display: flex; flex-direction: column; gap: 5px;">
          <% character.password_padlock.errors.where(:contact_address).each do |error| %>
            <span><%= error.message %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%=
      form.button(
        "Change Password",
        type: "button",
        command: "show-modal",
        commandfor: 'replace-password-confirmation-modal',
        data: {
          action: "confirmation-form#openConfirm"
        },
      )
    %>

    <dialog id="replace-password-confirmation-modal" data-confirmation-form-target="dialog">
      <p>
        Please enter your current password to change it
      </p>
      <div>
        <%= form.password_field :confirmation_password, data: { confirmation_form_target: "password" }, value: nil %>
      </div>
      <div>
        <%= form.button t("cancel"), type: "button", command: "close", commandfor: 'replace-password-confirmation-modal' %>
        <%= form.submit "Confirm" %>
      </div>
    </dialog>
  </div>
<% end %>
