<% content_for :settings_title, "Invitations" %>

<%= turbo_stream_from Current.character, channel: Padlock::InvitationChannel %>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Invitations" %>

<% if @invitation.present? && @invitation.errors.any? %>
  <% @invitation.errors.each do |error| %>
    <div style="color: red">
      <% if error.attribute == :confirmation_password %>
        <h2 style="font-size: 1em">Invalid password, your action cannot be executed!</h2>
      <% else %>
        <h2 style="font-size: 1em"><%= error.full_message %></h2>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: "settings/invitations/form", locals: { current_character: Current.character } %>

<section id="settings_invitations">
  <div>
    <h2>Pending</h2>
    <div class="invitation-entries" id="pending_invitations">
      <%=
        render partial: "settings/invitations/invitation",
               collection: @invitations.pending,
               as: :invitation,
               locals: { current_time: Time.current, current_character: Current.character }
      %>
    </div>
  </div>
  <div>
    <h2>In use</h2>
    <div class="invitation-entries" id="accepted_invitations">
      <%=
        render partial: "settings/invitations/invitation",
               collection: @invitations.accepted,
               as: :invitation,
               locals: { current_time: Time.current, current_character: Current.character }
      %>
    </div>
  </div>
</section>
